.gioithieukhung1 {
    width: 1003px;
    height: 4000px;
    text-align: left;
    margin: auto;
    line-height: 20px;
    background-color: whitesmoke;
    padding: 20px;
}

.gioithieutext1 {
    font-size: xx-large;
    color: black;
}

.gioithieutext2 {
    color: black;
}

.gioithieutext3 {
    color: black;
    text-align: center;
}